html {
  box-sizing: border-box;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-white: white;
  --color-black: #282828;
  --color-lightblue: #F2F4FA;
  --color-green: #31FBC1;
  --color-blue: #466BFF;
}

#canvas {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-lightblue);
}

.game-instructions {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-white);
}

.hidden {
  display: none;
}