html {
  box-sizing: border-box;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-white: white;
  --color-black: #282828;
  --color-lightblue: #F2F4FA;
  --color-green: #31FBC1;
  --color-blue: #466BFF;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

button {
  margin: 2rem;
  padding: 1rem 3rem;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--color-white);
  background-color: var(--color-black);
}

.canvas {
  position: absolute;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

h2 {
  position: absolute;
  top: 1rem;
  z-index: 2;
  font-size: 4rem;
  font-weight: 600;
  color: var(--color-black);
}

.timer {
  right: 1rem;
}

.points {
  left: 1rem;
}

.game-instructions {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.lottie-player {
  position: absolute;
  width: 20vw;
  height: 20vh;
}

.hidden {
  display: none;
}