@font-face {
  font-family: Dia;
  src: './assets/font/Dia.otf';
}

html {
  box-sizing: border-box;
  font-family: Dia, Inter, Avenir, Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-white: white;
  --color-black: #282828;
  --color-green: #697D43;
}

h1 {
  font-size: 5rem;
  font-weight: 600;
  text-align: center;
}

.text {
  padding: 2rem 0;
  font-size: 3.5rem;
  font-weight: 600;
  max-width: 70vw;
  line-height: 1.3;
  text-align: center;
}

.text span {
  color: var(--color-green);
}

.canvas {
  position: absolute;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

#canvasBackground {
  z-index: -1;
}

#canvasNotes {
  z-index: -2;
}

.absolute {
  position: absolute;
  top: 1rem;
  z-index: 2;
  font-size: 4rem;
  font-weight: 600;
  color: var(--color-black);
}

.timer {
  right: 1rem;
}

.points {
  left: 1rem;
}

.game-instructions {
  position: absolute;
  width: 100vw;
  height: 88vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.lottie {
  position: absolute;
  width: 20vw;
  height: 20vh;
}

.hidden {
  display: none;
}