@font-face {
  font-family: Roadstore;
  src: url('../font/roadstore.woff2') format('woff2');
}

html {
  box-sizing: border-box;
  font-family: roadstore, Inter, Arial,;
  background-color: black;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow: hidden;
}